
#postgresql://USER:PASSWORD@HOST:PORT/DBNAME

services:
  db:
    image: postgres
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: dbpass
    networks:
      - app-network

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    networks:
      - app-network
  api:
    build:
      context: .
      dockerfile: ./apps/api/Dockerfile
      target: dev
      args:
        - APP_NAME=api
#    note: - for starting up and running container
#    command: tail -f /dev/null
#    note: - no node reload on code change
#    command: pnpm --filter api run
#    note: - for running dev to see live changes
    command: pnpm --filter api run dev
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=development
    volumes:
      - ./apps/api:/app/apps/api
      - /app/node_modules
      - /app/apps/api/node_modules
    networks:
      - app-network

  reg-form:
    build:
      context: .
      dockerfile: ./apps/reg-form/Dockerfile
      target: dev
      args:
        - APP_NAME=reg-form
    #    note: - for starting up and running container
    #    command: tail -f /dev/null
    #    note: - no node reload on code change
    #    command: pnpm --filter api run
    #    note: - for running dev to see live changes
    command: pnpm --filter reg-form run dev
    ports:
      - "3100:3100"
    environment:
      - NODE_ENV=development
      - PORT=3100
      - DATABASE_URL=postgresql://postgres:dbpass@lazy-forms-db-1:5432/postgres?schema=public
    volumes:
      - ./apps/reg-form:/app/apps/reg-form
      - /app/node_modules
      - /app/apps/reg-form/node_modules
      - /app/apps/reg-form/src/generated
    networks:
      - app-network

#  web-prod:
#    build:
#      context: .
#      dockerfile: ./apps/web/Dockerfile
#      target: prod
#      args:
#        - APP_NAME=web
#    command: pnpm --filter web run start
#    ports:
#      - "4000:3000"
#    environment:
#      - NODE_ENV=production
#      - REG_FORM_URL=reg-form:3100
#    networks:
#      - app-network

  web-dev:
    build:
      context: .
      dockerfile: ./apps/web/Dockerfile
      target: dev
      args:
        - APP_NAME=web
    command: pnpm --filter web run dev
    ports:
      - "4300:3000"
    environment:
      - NODE_ENV=development
      - REG_FORM_URL=reg-form:3100
    volumes:
      - ./apps/web:/app/apps/web
      - /app/node_modules
      - /app/apps/web/node_modules
      - /app/apps/web/src/generated
    networks:
      - app-network
  # Docker shared network definition
networks:
  app-network:
    driver: bridge
volumes:
  db_data: